<h1>Edit Animals</h1>

<%= form_for @animal do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>

  <%= f.label :species %>
  <br>
  <%= f.text_field :species %>
  <br>

  <%= f.label :age %>
  <br>
  <%= f.text_field :age %>
  <br>

  <%= f.submit %>
<% end %>
