<!DOCTYPE html>
<html>
  <head>
    <title>RailsZoo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Animal List", animals_path %>
    <%= link_to "Register Animal", new_animal_path %>

    <%= yield %>
  </body>
</html>
